<!doctype html>
<html>
  <head>
    <title>File Upload</title>
  </head>
  <body>
    <h1>File Upload</h1>

    <form method="POST" action="" enctype="multipart/form-data">
      <input type="" name="mdl_nama_minuman" class="form-control" id="mdl_nama_minuman">
      <select class="form-control" name="mdl_id_harga" id="mdl_id_harga">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
      </select>
      <select name="mdl_id_kategori" class="form-control" id="mdl_id_kategori">
        <option value="1">1</option>
        <option value="2">2</option>
        
      </select>
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
    <hr>
    {% for file in files %}
      <img src="{{ url_for('static', filename=file) }}" style="width: 64px">
    {% endfor %}
  </body>

</html>